body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    transition: max-width 0.3s ease;
}

.progress {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    font-size: 0.9em;
    opacity: 0.7;
}

.shortcut-info {
    text-align: center;
    font-size: 0.75em;
    color: #888;
    margin-top: 10px;
}

#summary {
    display: none;
    margin: 20px auto;
    width: 90%; /* 요약 화면에서는 넓은 레이아웃 사용 */
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#result-image {
    width: 100%;
    max-width: 500px; /* 이미지의 최대 크기를 지정 */
    height: auto;
    display: none; /* 기본적으로 숨김 */
    margin-top: 20px;
}

@media (orientation: landscape) {
    .container {
        max-width: 800px;
    }
}
